/* for top 3 section to make the info pop on top of the image*/
div.container-fluid img {
  position: absolute;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.u-section-1 {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25))
}

.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-text-1 {
  width: 551px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 242px auto 0;
}

.u-section-1 .u-text-2 {
  width: 551px;
  font-weight: 700;
  margin: 20px auto 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-size: 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-1 {
    width: 429px;
  }

  .u-section-1 .u-text-2 {
    width: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 63.63% 73.36%;
    background-size: auto 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 621px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 2rem;
  text-transform: none;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 17px auto 0 438px;
  padding: 23px 63px 24px 62px;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px 22px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  width: 127px;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.5625rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 198px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 80px 22px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0 29px;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.5625rem;
  margin: 30px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 238px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 163px;
  }

  .u-section-2 .u-text-5 {
    width: 127px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 18px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }
}

.u-section-3 {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)),
    url("../images/bg-gr-v.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 285px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 8.125rem;
  line-height: 1;
  letter-spacing: -3px;
  margin: 30px 20px 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 1;
  margin: -23px 20px 0;
}

.u-section-3 .u-text-3 {
  text-align: start;
  margin: -8px 52px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 85px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }
}

.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 637px;
}

.u-section-4 .u-slider-1 {
  min-height: 577px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: 56px;
  height: 22px;
  top: auto;
  bottom: 25px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4));
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-group-1 {
  width: 416px;
  min-height: 460px;
  height: auto;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
  font-weight: 700;
  text-transform: none;
  margin: 0 40px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5625rem;
  font-weight: 700;
  background-image: none;
  margin: 20px 40px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 50px auto 0;
  padding: 16px 65px 18px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 17px 80px 17px 79px;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)),
    url("images/webhosts/Night_King.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-4 .u-group-2 {
  width: 416px;
  min-height: 460px;
  height: auto;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
  font-weight: 700;
  text-transform: none;
  margin: 0 40px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5625rem;
  font-weight: 700;
  background-image: none;
  margin: 20px 40px 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 50px auto 0;
  padding: 16px 65px 18px;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 17px 80px 17px 79px;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url("webhosts/Prb_755_V3.jpg");
  background-position: 50% 5.38%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-4 .u-group-3 {
  width: 416px;
  min-height: 460px;
  height: auto;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 0;
}

.u-section-4 .u-text-5 {
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
  font-weight: 700;
  text-transform: none;
  margin: 0 40px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5625rem;
  font-weight: 700;
  background-image: none;
  margin: 20px 40px 0;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 50px auto 0;
  padding: 16px 65px 18px;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 17px 80px 17px 79px;
}

.u-section-4 .u-carousel-control-1 {
  width: 68px;
  height: 68px;
  left: 0;
  right: auto;
  position: absolute;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 68px;
  height: 68px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    min-height: 591px;
  }

  .u-section-4 .u-carousel-indicators-1 {
    bottom: 47px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    min-height: 906px;
  }

  .u-section-4 .u-carousel-indicators-1 {
    bottom: 27px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-4 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-4 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 20px 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 20px 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-5 {
  background-image: linear-gradient(to left, #27133d, #2e103c, #39103c);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  /* Adjust the background size property as needed */
}

.u-section-5 .u-sheet-1 {
  min-height: 251px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  background-image: none;
  width: 361px;
  margin: 22px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5625rem;
  margin: 22px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 1px;
  margin-bottom: -53px;
}

.u-section-5 .u-repeater-1 {
  min-height: 65px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  margin: 1px 0 0 auto;
  padding: 8px 35px 9px;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  margin: -38px 89px 0 auto;
  padding: 8px 27px 9px 25px;
}

.u-section-5 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
  background-image: none;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: -30px auto 0 10px;
}

.u-section-5 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  margin: 1px 0 0 auto;
  padding: 8px 35px 9px;
}

.u-section-5 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  margin: -38px 89px 0 auto;
  padding: 8px 27px 9px 25px;
}

.u-section-5 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
  background-image: none;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: -30px auto 0 10px;
}

.u-section-5 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-5 .u-btn-5 {
  font-size: 0.875rem;
  background-image: none;
  margin: 1px 0 0 auto;
  padding: 8px 35px 9px;
}

.u-section-5 .u-btn-6 {
  font-size: 0.875rem;
  background-image: none;
  margin: -38px 89px 0 auto;
  padding: 8px 27px 9px 25px;
}

.u-section-5 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
  background-image: none;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: -30px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 54px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 75px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 941px;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  grid-template-rows: repeat(2, auto);
  margin: 42px 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 583px;
  grid-gap: 21px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
  display: inline;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-line-1 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
  display: inline;
}

.u-section-6 .u-list-item-2 {
  background-size: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-line-2 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-3 {
  background-size: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-line-3 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-3 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-4 {
  background-size: auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-6 .u-line-4 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-4 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-5 {
  background-size: auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-line-5 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-5 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-6 {
  background-size: auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-line-6 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-6 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: 30px auto 60px;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-4 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-5 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-6 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-7 .u-sheet-1 {
  min-height: 704px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 390px;
}

.u-section-7 .u-container-layout-1 {
  padding: 28px 40px;
}

.u-section-7 .u-group-1 {
  min-height: 119px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: left;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.1875rem;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-7 .u-group-2 {
  min-height: 119px;
  margin-top: 52px;
  margin-bottom: 0;
  height: auto;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: left;
  margin: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.1875rem;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 195px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 195px;
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-7 .u-text-6 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 24px 0 0;
}

.u-section-7 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0;
}

.u-section-7 .u-image-1 {
  min-height: 585px;
  background-image: url("https://media.wired.com/photos/5926d4817034dc5f91becc0a/master/w_2560%2Cc_limit/538709955.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-2 {
    height: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 619px;
    background-position: 81.9% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 194px;
  }

  .u-section-7 .u-image-1 {
    min-height: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 310px;
  }
}

/*

  Latest revies section style

*/

.u-section-reviews {
  background-image: none;
  min-height: 838px;
}

.u-section-reviews .u-image-reviews {
  height: auto;
  text-align: start;
  margin-top: 30px;
  min-height: 397px;
  margin-bottom: 0;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("../images/controller-background.png");
}

.u-section-reviews .u-container-layout-reviews {
  padding: 30px 29px;
}

.u-section-reviews .u-text-reviews {
  letter-spacing: normal;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 2.25rem;
  text-transform: uppercase;
  text-align: start;
  margin: 30px auto 0 51px;
}

.u-section-reviews .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  text-align: left;
  margin: 7px 58px 0 96px;
}

.u-section-reviews .u-list-reviews {
  width: 1156px;
  text-align: start;
  margin: -68px auto 0 calc(((100% - 1140px) / 2) + -8px);
}

.u-section-reviews .u-repeater-reviews {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 320px;
  grid-gap: 20px;
}

.u-section-reviews .u-list-item-reviews {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
}

.u-section-reviews .u-container-layout-2 {
  padding: 7px 27px;
}

.u-section-reviews .u-text-3 {
  font-size: 1.5rem;
  margin: 23px 60px 0 3px;
}

.u-section-reviews .u-text-4 {
  font-size: 1.5rem;
  text-align: left;
  margin: -29px 3px 0 261px;
}

.u-section-reviews .u-icon-reviews {
  color: rgb(17, 17, 17) !important;
}

.u-section-reviews .u-text-5 {
  margin: -47px 0 0 6px;
}

.u-section-reviews .u-text-6 {
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 46px 3px 0;
}

.u-section-reviews .u-btn-reviews {
  background-image: none;
  border-style: none none solid;
  margin: 31px auto 0 3px;
  padding: 0;
}

.u-section-reviews .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
}

.u-section-reviews .u-container-layout-3 {
  padding: 7px 27px;
}

.u-section-reviews .u-text-7 {
  font-size: 1.5rem;
  margin: 23px 60px 0 3px;
}

.u-section-reviews .u-text-8 {
  font-size: 1.5rem;
  text-align: left;
  margin: -29px 3px 0 261px;
}

.u-section-reviews .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-reviews .u-text-9 {
  margin: -47px 0 0 6px;
}

.u-section-reviews .u-text-10 {
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 46px 3px 0;
}

.u-section-reviews .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 31px auto 0 3px;
  padding: 0;
}

.u-section-reviews .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
}

.u-section-reviews .u-container-layout-4 {
  padding: 7px 27px;
}

.u-section-reviews .u-text-11 {
  font-size: 1.5rem;
  margin: 23px 60px 0 3px;
}

.u-section-reviews .u-text-12 {
  font-size: 1.5rem;
  text-align: left;
  margin: -29px 3px 0 261px;
}

.u-section-reviews .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-reviews .u-text-13 {
  margin: -47px 0 0 6px;
}

.u-section-reviews .u-text-14 {
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 46px 3px 0;
}

.u-section-reviews .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 31px auto 0 3px;
  padding: 0;
}

.u-section-reviews .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0px;
  background-image: none;
  text-align: center;
  margin: 45px auto 0 calc(((100% - 1140px) / 2) + 493px);
  padding: 9px 10px;
}

.u-section-reviews .u-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-reviews .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0px;
  background-image: none;
  text-align: center;
  margin: 12px auto 20px calc(((100% - 1140px) / 2) + 505px);
  padding: 9px 10px;
}

.u-section-reviews .u-icon-5 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-reviews .u-image-reviews {
    height: auto;
  }

  .u-section-reviews .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-reviews .u-list-reviews {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-reviews .u-repeater-reviews {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 260px;
  }

  .u-section-reviews .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-reviews .u-text-4 {
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-reviews .u-text-5 {
    margin-left: 0;
  }

  .u-section-reviews .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-reviews .u-btn-reviews {
    margin-left: 0;
  }

  .u-section-reviews .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-reviews .u-text-8 {
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-reviews .u-text-9 {
    margin-left: 0;
  }

  .u-section-reviews .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-reviews .u-btn-2 {
    margin-left: 0;
  }

  .u-section-reviews .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-reviews .u-text-12 {
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-reviews .u-text-13 {
    margin-left: 0;
  }

  .u-section-reviews .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-reviews .u-btn-3 {
    margin-left: 0;
  }

  .u-section-reviews .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2) + 293px);
  }

  .u-section-reviews .u-btn-5 {
    margin-left: calc(((100% - 940px) / 2) + 305px);
  }
}

@media (max-width: 991px) {
  .u-section-reviews .u-list-reviews {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-reviews .u-repeater-reviews {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 597px;
  }

  .u-section-reviews .u-text-4 {
    margin-left: 0;
  }

  .u-section-reviews .u-text-8 {
    margin-left: 0;
  }

  .u-section-reviews .u-text-12 {
    margin-left: 0;
  }

  .u-section-reviews .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2) + 73px);
  }

  .u-section-reviews .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2) + 85px);
  }
}

@media (max-width: 767px) {
  .u-section-reviews .u-container-layout-reviews {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-reviews .u-list-reviews {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-reviews .u-repeater-reviews {
    grid-template-columns: 100%;
  }

  .u-section-reviews .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-reviews .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-reviews .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-reviews .u-btn-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-reviews .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-reviews .u-text-reviews {
    font-size: 1.5rem;
  }

  .u-section-reviews .u-list-reviews {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-reviews .u-btn-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-reviews .u-btn-5 {
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-reviews .u-list-item-reviews,
.u-section-reviews .u-list-item-reviews:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, box-shadow, text-shadow, opacity, border-radius, stroke,
    border-color, font-size, font-style, font-weight, text-decoration,
    letter-spacing, transform, background-image, background-size,
    background-position;
}

.u-section-reviews .u-list-item-reviews.u-list-item-reviews.u-list-item-reviews:hover {
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-reviews .u-list-item-2,
.u-section-reviews .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, box-shadow, text-shadow, opacity, border-radius, stroke,
    border-color, font-size, font-style, font-weight, text-decoration,
    letter-spacing, transform, background-image, background-size,
    background-position;
}

.u-section-reviews .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-reviews .u-list-item-3,
.u-section-reviews .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, box-shadow, text-shadow, opacity, border-radius, stroke,
    border-color, font-size, font-style, font-weight, text-decoration,
    letter-spacing, transform, background-image, background-size,
    background-position;
}

.u-section-reviews .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}