/* 

######################################################

        Custom CSS for different sections
        
######################################################

*/


.neon_light_button {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.neon_light_button {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.neon_light_button:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}





/* 

######################################################

                    GEN styles
        
######################################################

*/


.u-section-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("../images/masks/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 471px;
}

.u-section-1 .u-slider-1 {
  min-height: 365px;
  width: 666px;
  height: auto;
  margin: 46px auto 60px 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  inset: auto auto 31px 63px;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 65px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 26px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 132px;
  height: 121px;
  margin: -64px 182px 0 auto;
}
.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 25.3333px) calc(33.3333% - 25.3333px) calc(
      33.3333% - 25.3333px
    );
  grid-gap: 30px 38px;
  min-height: 700px;
  grid-auto-columns: calc(33.3333% - 25.3333px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 745px;
    grid-auto-columns: calc(33.333333333333336% - 25.333299999999998px);
    grid-template-columns: repeat(
      3,
      calc(33.333333333333336% - 25.333299999999998px)
    );
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1284px;
    grid-auto-columns: calc(50% - 18.999975px);
    grid-template-columns: repeat(2, calc(50% - 18.999975px));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}
.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: italic;
  transition-duration: 0.25s;
  margin: -56px auto 0 0;
  padding: 15px 40px 15px 38px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 63px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  margin: 0 2px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 2px 0;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: italic;
  transition-duration: 0.25s;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 160px;
  height: 147px;
  margin: -147px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 63px;
  height: 63px;
  left: 0;
  position: absolute;
  right: auto;
  padding: 6px;
}

.u-section-1 .u-carousel-control-2 {
  width: 63px;
  height: 63px;
  left: auto;
  position: absolute;
  right: 0;
  padding: 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 407px;
    width: 634px;
    margin-top: 277px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 32px 45px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 55px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 55px;
    padding-left: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 146px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 82.01% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 210px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 481px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 30.625px 57px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 443px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 72.625px 12px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 50px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 50px !important;
}

.u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected]),
.u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected])
  > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    background-size, background-position;
}

.u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected]).u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected]).u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 50px !important;
}

.u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected]).u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected]).u-block-b1eb-48:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 50px !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 50px !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 50px !important;
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-slider-1 {
  min-height: 453px;
  height: auto;
  margin: 41px 0 20px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-2 .u-gallery-1 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  padding: 59px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  padding: 59px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  padding: 59px;
} 

.u-section-2 .u-gallery-2 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-2 .u-gallery-inner-2 {
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-back-image-6 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  width: 73px;
  height: 73px;
}

.u-section-2 .u-carousel-control-2 {
  width: 73px;
  height: 73px;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 424px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-1 {
    height: 325px;
    width: 830px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-gallery-2 {
    height: 345px;
    width: 880px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-gallery-1 {
    height: 775px;
    width: 660px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-gallery-2 {
    height: 776px;
    width: 660px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1832px;
    width: 520px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-2 {
    height: 1834px;
    width: 520px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1127px;
    width: 320px;
  }

  .u-section-2 .u-gallery-2 {
    height: 1129px;
    width: 320px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 630px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 55px auto 0 138px;
}

.u-section-3 .u-accordion-1 {
  margin-top: 43px;
  margin-bottom: 54px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-3 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 87px;
  }
}
